# Latihan 3 | Menggunakan Python sebagai Kalkulator

# 1. Numbers

In [1]:
2+2

4

In [2]:
50-5*6

20

In [3]:
17/3

5.666666666666667

In [4]:
17//3

5

In [5]:
17%3

2

In [6]:
5**2

25

In [7]:
width = 20
height = 5*9
width*height

900

In [8]:
n

NameError: name 'n' is not defined

In [9]:
tax = 12.5 / 100
price = 100.50
price*tax

12.5625

In [10]:
price + _

113.0625

In [11]:
round(_,2)

113.06

# 2. Strings

In [12]:
'spam eggs'

'spam eggs'

In [13]:
'doesn\'t'

"doesn't"

In [14]:
"doesn't"

"doesn't"

In [15]:
'"Yes," he said.'

'"Yes," he said.'

In [16]:
'"Isn\'t,"she said'

'"Isn\'t,"she said'

In [17]:
print ('"Isn\'t," she said')

"Isn't," she said

In [19]:
s = 'First line.\nSecond line.'
s

'First line.\nSecond line.'

In [20]:
print(s)

First line.
Second line.

In [21]:
print ("""\
Usage: thingy[OPTIONS]
-h                Display this usage message
-H                Hostname to connect to
""")

Usage: thingy[OPTIONS]
-h                Display this usage message
-H                Hostname to connect to

In [22]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

In [23]:
'Py' 'thon'

'Python'

In [24]:
text = ('Put several strings within parentheses'
       'to have them joined together.')
text

'Put several strings within parenthesesto have them joined together.'

In [27]:
prefix = 'Py'
prefix  'thon'

SyntaxError: invalid syntax (<ipython-input-27-a98afeb63cbf>, line 2)

In [28]:
('un' *3) 'ium'

SyntaxError: invalid syntax (<ipython-input-28-d2f246a689e8>, line 1)

In [29]:
prefix = 'Py'
prefix + 'thon'

'Python'

In [30]:
word = 'Python'
word[0]

'P'

In [32]:
word[5]

'n'

In [33]:
word[-1]

'n'

In [34]:
word[-2]

'o'

In [35]:
word[-6]

'P'

In [36]:
word[0:2]

'Py'

In [37]:
word[2:5]

'tho'

In [38]:
word[:2] + word[2:]

'Python'

In [39]:
word[:4] + word[4:]

'Python'

In [40]:
word[0] = '3'

TypeError: 'str' object does not support item assignment

In [41]:
word[2:]= 'py'

TypeError: 'str' object does not support item assignment

In [42]:
'J' + word[1:]

'Jython'

In [43]:
word[:2] + 'py'

'Pypy'

In [44]:
s = 'supercalifragilisticexpialidocious'
len(s)

34

# 3. Lists

In [45]:
squares = [1,4,9,16,25]
squares

[1, 4, 9, 16, 25]

In [46]:
squares[0]

1

In [47]:
squares[-1]

25

In [48]:
squares[-3:]

[9, 16, 25]

In [49]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [50]:
cubes = [1, 8, 27, 65, 125] #something's wrong here
4 ** 3 # the cube of 4 is 64, not 65!

64

In [51]:
cubes[3] = 64
cubes

[1, 8, 27, 64, 125]

In [54]:
cubes.append(216)
cubes.append(7 ** 3)
cubes

[1, 8, 27, 64, 125, 216, 343]

In [84]:
letters = ['a','b', 'c', 'd', 'e', 'f', 'g' ]
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [56]:
#replace some values
letters[2:5] = ['C','D','E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [57]:
#now remove them
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [58]:
#clear the list by replacing all the elements with an empty list
letters[:] = []
letters

[]

In [59]:
letters = ['a','b','c', 'd']
len(letters)

4

In [60]:
a = ['a','b','c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [61]:
x[0]

['a', 'b', 'c']

In [62]:
x[0][1]

'b'

# Latihan 4 | Langkah pertama menuju pemrograman

In [66]:
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1
while b < 10:
    print(b)
    a, b = b, a+b

1
1
2
3
5
8

In [67]:
i = 256*256
print('The value of i is', i)

The value of i is 65536

In [68]:
a, b = 0, 1
while b < 1000:
    print(b, end=',')
    a, b = b, a+b

1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

# Latihan 5 | MORE CONTROL FLOW TOOLS

# 1. if Statements

In [85]:
x =  int(input("Please enter an integer:"))

Please enter an integer:42

In [70]:
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
     print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

More

# 2. for Statements

In [71]:
# Measure some strings:
words = ['cat', 'window', 'defenestarte']

In [72]:
for w in words:
    print(w, len(w))

cat 3
window 6
defenestarte 12

In [73]:
for w in words[:]: # Loop over a slice copy of the entire List.
    if len(w) > 6:
        words.insert(0, w)

In [74]:
words

['defenestarte', 'cat', 'window', 'defenestarte']

# 3. The range() Function

In [75]:
for i in range(5):
    print(i)

0
1
2
3
4

In [76]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

# Latihan 6 | Function

# 1. Fungsi tanpa parameter

In [77]:
a = 5
b = 3

def jumlah():
    print (a+b)
    
jumlah()

8

# 2. Fungsi dengan parameter

In [78]:
def kurang(a,b):
    print(a-b)
kurang(5,3)

2

In [80]:
def kali(*nilai):
    hasilPerkalian = 1
    for i in nilai:
        hasilPerkalian*=i
    return hasilPerkalian

print (kali(5))
print (kali(5,2))
print (kali(5,3,2))

5
10
30

In [81]:
def bagi(a:float, b:float) -> float:
    return a/b
bagi(3,2)

1.5

# Latihan 7 | Class

In [82]:
class Dog:
    kind = 'canine'
    def __init__(self, name): #Constructor
        self.name = name
        self.tricks = []
        
    def add_trick(self, trick):
        self.tricks.append(trick)
        
dog1 = Dog('Fido')
dog2 = Dog('Buddy')
dog1.add_trick('roll over')
dog2.add_trick('run')

print(dog1.kind)
print(dog2.kind)
print(dog1.name)
print(dog2.name)
print(dog1.kind)
print(dog1.tricks)
print(dog1.tricks)

canine
canine
Fido
Buddy
canine
['roll over']
['roll over']